# Register the .env file to S3 and pull it when need it
Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "stephanie-access"

files:
  "/tmp/.env" :
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/stephanie-access/.env
    authentication: S3AccessCred

container_commands:
   move_env:
    command: "mv /tmp/.env /var/app/ondeck/.env"