// Use npm run watch to watch changes overtime


// Fonts
@import url("https://fonts.googleapis.com/css?family=Alegreya|BenchNine|Courgette|Domine|Dosis|Quicksand");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* 
*	Colors
*/
$beige: #ded4cb;
$light-purple: #a47a8e;
$dark-purple:#4e3241;

/*
*	Fonts
*/
$title: Quicksand;
$text: Dosis;

/*
*	Sizes for media
*/
$sm: 768px;

/*
*	Generals
*/

body
{
	background-color: $beige;
}

h1,h2,h3,h4,h5
{
	font-family: $title;
	text-align: center;
	color: $dark-purple;
}
h1
{
	@media screen and (max-width: $sm)
	{
		font-size: 20px;
	}
}
h2
{
	@media screen and (max-width: $sm)
	{
		font-size: 18px;
	}
}
h3
{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 35px;
}
h4
{
	font-size: 26px;
}
p
{
	font-family: $text;
	font-size: 14px;
	text-align: justify;
	text-align-last: center;
}
button
{
	font-family: $title;
}

.cta-button
{
	color: $beige;
	background-color: $light-purple;
	border: 2px solid $dark-purple;
	padding: 40px;
	font-size: 22px;
	border-radius: 5px/5px;

	@media screen and (max-width: $sm)
	{
		padding: 20px;
		font-size: 16px;
	}
}

.cta-button:hover
{
	color: $beige;
	background-color: $dark-purple;
	border: 5px solid $beige;
	
}

.cta-button-mini
{
	color: $beige;
	background-color: $light-purple;
	border-radius: 5px/5px;
	border: 2px solid $dark-purple;
	padding: 20px;
	
	@media screen and (max-width: $sm)
	{
		padding: 10px;
	}
}

.cta-button-mini:hover
{
	color: $beige;
	background-color: $dark-purple;
	border: 2px solid $beige;
}

.close
{
	@media screen and (max-width: $sm)
	{
		font-size: 3em;
		color: red;
	}
}

.section
{
	position: relative;
	min-height: 750px;
	margin-bottom: 50px;
}

.loader
{
	position: absolute;
    left: 45vw;
    top: 45vh;
    z-index: 1041;
	border: 16px solid #f3f3f3;
	border-top: 16px solid $light-purple;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*
*	Header
*/
header
{
	height: 85vh;
	background-color: $light-purple;
	position: relative;
}

#mainHeaderAdmin
{
	height: 25vh;
}

#headerImage
{
	height: 100%;
	margin-left: -15px;
	margin-right: -15px;
	width: 100%;
	position: absolute;
	z-index: 0;
	background: url(/images/headerImage.jpg) center;
	background-size: cover;
	opacity: .8;
	filter: saturate(120%);

	@media screen and (max-width: $sm)
	{
		background: url(/images/headerImage.jpg);
		background-size: cover;
	}
}

#phoneNumber
{
	background-color: $beige;
	border-radius: 10px/10px;
	padding: 20px;
	margin-top: -10px;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,.5);
	position: relative;
	z-index: 2;

	@media screen and (max-width: $sm){
		padding: initial;
	}
}

#phoneNumber > p
{
	text-align: center;
	font-size: 2em;
	color: $dark-purple;
}

#nav-header
{
	position: absolute;
	right: 2vw;
	top: 15vh;
	background-color: $beige;
	border-radius: 10px/10px;
	text-align: center;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,.5);

	@media screen and (max-width: $sm){
		position: relative;
		right: initial;
		top: initial;
		z-index: 900;
	}
}

#mainHeaderAdmin #nav-header
{
	top: 22vh;
	left: 0;
	width:100%;
}

#navbar ul li a
{
	color: $dark-purple;
	font-family: $title;
	font-size: 22px;
	border-bottom: 1px solid $light-purple;
}

/*
*	Content
*/

/*
*	Content Header
*/
#content
{
	margin-top: -150px;
	margin-bottom: -150px;
	background-color: white;
	border-radius: 20px/20px;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, .5);
	position: relative;
	z-index: 2;
}

#headerTitle, #headerCta
{
	height: 15vh;
	
	@media screen and (max-width: $sm)
	{
		height: initial;
	}
}

/*
*	Story
*/
#story .story-container
{
	height: 100%;
}
#story-heading 
{
	padding-bottom: 50px;
}
#story-content
{
	position: relative;
	z-index: 1;
	background-color: #a47a8e;
	color: #ded4cb;
	top: -60px;
	left: 60%;
	padding: 20px 40px;
	border-radius: 5px/5px;
	box-shadow: -20px 20px 40px 0px rgba(0,0,0,.4); 

	@media screen and (max-width: $sm)
	{
		position: absolute;
		z-index: initial;
		top: initial;
		left:0;
		padding: 20px;
	}
}
#mainImage
{
	background: url(/images/accessImage.jpg) left;
	background-size: cover;
	height: 70%;
	width: 85%;
	bottom: 0;
	margin-left: 5%;
	position: absolute;
	z-index: 0;
	border-radius: 5px/5px;

	@media screen and (max-width: $sm)
	{
		height: 25%;
		width: 100%;
		z-index: initial;
	}
}

/*
*	Products
*/
.caption p
{
	font-size: 15px;
	height: 250px;
	overflow: auto;

	@media screen and (max-width: $sm)
	{
		height: initial;
	}
}
.thumbnail
{
	position: relative;
}

.thumbnail-image
{
	background-size: cover;
	height: 275px;
	width: 100%;

	@media screen and (max-width: $sm)
	{
		height: 150px;
	}
}

.price
{
	position: absolute;
	left: -10px;
	top: -20px;
	background-color: $light-purple;
	color: $beige;
	border-radius: 20px/20px;
	text-align: center;
	padding: 5px 20px;
	border: 2px solid $beige;
}
.product-separator
{
	padding: 50px;
}
/*
*	Contact
*/
#contact-content
{
	border:	1px solid $beige;
	border-radius: 5px 140px 0px 80px;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 150px;
	padding-right: 50px;

	@media screen and (max-width: $sm)
	{
		border: initial;
		border-radius: initial;
		padding-top: 0;
		padding-left: 0;
		padding-bottom: 0;
	}
}
#social-media
{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: $light-purple;
	border: 1px solid $dark-purple;
	border-radius: 50px 0px 5px 0px;
	padding: 10px;

	@media screen and (max-width: $sm)
	{
		right: 5px;
	}
}
#social-media a
{
	color: $beige;
}
#social-media a:hover
{
	color: $dark-purple;
}
#contactPicture
{
	height: 300px;
	width: 250px;
	position: absolute;
	top: 79px;
	left: 40px;
	background-color: $light-purple;
	border: 1px solid $dark-purple;
	border-radius: 5px/5px;

	@media screen and (max-width: $sm)
	{
		width: 90%;
		left: 5%;
		top: initial;
	}
}
#contactImage
{
	background: url(/images/portrait.png) center;
	background-size: cover;
	height: 100%;
	margin-left: -15px;
	margin-right: -15px;
	opacity: .9;
	filter: saturate(120%);
}

/*
*	Footer
*/
footer
{
	height: 25vh;
	background-color: $light-purple;
	position: relative;
	z-index: -1;
}
#copyright	
{
	position: absolute;
	text-align: center;
	bottom: 10px;
}
#copyright a
{
	color: $beige;
}